::selection{ background-color: #80FFCC; color: white; }
::moz-selection{ background-color: #80FFCC; color: white; }
::webkit-selection{ background-color: #80FFCC; color: white; }

body {
	background-color: #fff;
	margin: 40px;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

a {
	background-color: transparent;
	font-weight: normal;
	text-decoration: none;
	color: #4F5155;
}

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 20px;
	margin: 0px 5px 10px 0px;
	padding: 14px 15px 10px 0px;
}
h2{
	font-weight: normal;
	font-size: 18px;
	margin: 0px 5px 10px 0px;
}
h4{
	margin-bottom: 5px;
}
.red{
	color:red;
}

.container{
	margin: 10px auto;
	margin-bottom: 10px;
	padding:10px 20px;
	border: 1px solid #D0D0D0;
	/*width: 800px;*/
	-webkit-box-shadow: 0 0 8px #D0D0D0;
}

.frontpage {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin:10px 20px;
}

#beta-message {
	font-size: 1.8em;
	color:#4775A3;
}

#instructions{
	font-size: 1.2em;
}

.submitter{
	margin: 20px 0px 10px 175px;
}
.center{
	text-align: center;
}
img{
	/*width: 650px;*/
	height: 350px;
	margin: 20px auto;
}
#entry{
	margin-bottom: 20px;
}
#preference{
}

.user_input{
	width: 500px;
}
#comparison{
	text-align: left;
	margin:0px auto;
	width:600px;
}

/*pictures on the review page*/
.small{
	height: 200px;
}
.picreview{
	display: inline-block;
}
.responsereview{
	display: inline-block;
	vertical-align: top;
	margin: 5px 100px 0px 20px;
}

#checkpoint a{
    text-decoration: none;
    color: #4F5155;
}
ul{
    list-style-image: url('/assets/img/dot_painted_spinning_10.gif');
}

.button {
	align-items: flex-start;
	text-align: center;
	cursor: pointer;
	color: buttontext;
	padding: 2px 6px 3px;
	border: 2px outset buttonface;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	background-color: buttonface;
	box-sizing: border-box;
	margin: 0em;
	font: -webkit-small-control;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	-webkit-writing-mode: horizontal-tb;
	-webkit-appearance: button;
}